* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

.App {
  width: 550px;
  margin: auto;
}

header {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F55A5A;
  margin-bottom: 36px;
}

.header--title {
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}

.destinationCard--img {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 10px;
}

.destinationCard {
  width: 480px;
  display: flex;
  gap: 29px;
  align-items: center;
  margin: auto;
  padding: 18px 0;
  border-bottom: 1px solid #F5F5F5;
}

.destinationCard--header {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.destinationCard--header > img {
  margin-right: 5px;
}

.destinationCard--header--country {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  margin-right: 10px;
}

.destinationCard--header--googleMaps {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

.destinationCard--siteName {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 12px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.destinationCard--datesTravelled {
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  margin-bottom: 10px;
}

.destinationCard--siteDescription {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}